$violet: #7B61FF;
$roze: #FF2B77;
$background: #ffdf8c;
$violet-line: #ACA7C3;
$orange: #E2A300;
$green: #6BD475;
$black: #3F3F3F;
$text: #49454F;
$input-text: #888888;

$container-width: 90%;

$duration: 0.15s;